
*{
  box-sizing: border-box;
  /*border: 1px solid black;*/
  margin: 0;
  padding: 0;
}
.col-1 {
  width: 4.165%;
}

.col-2 {
  width: 8.33%;
}

.col-3 {
  width: 12.5%;
}

.col-4 {
  width: 16.665%;
}

.col-5 {
  width: 20.84%;
}

.col-6 {
  width: 25%;
}

.col-7 {
  width: 29.165%;
}

.col-8 {
  width: 33.33%;
}

.col-9 {
  width: 37.495%;
}

.col-10 {
  width: 41.66%;
}

.col-11 {
  width: 45.835%;
}

.col-12 {
  width: 50%;
}

.col-13 {
  width: 54.165%;
}

.col-14 {
  width: 58.33%;
}

.col-15 {
  width: 62.5%;
}

.col-16 {
  width: 66.665%;
}

.col-17 {
  width: 70.83%;
}

.col-18 {
  width: 75%;
}

.col-19 {
  width: 79.165%;
}

.col-20 {
  width: 83.33%;
}

.col-21 {
  width: 87.495%;
}

.col-22 {
  width: 91.66%;
}

.col-23 {
  width: 95.165%;
}

.col-24 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  border: 1px solid red;
  /*width: 100%;*/
}

.row::after {
  content: '';
  clear: both;
  display: block;
}

.brand {
  display: inline-block;
  width: 140px;
  height: 140px;
}

.col-2.brand {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}

.menu-vertical-segment {
  width: 1px;
  height: 80px;
  background-color: #2d3439;
  opacity: 0.11;
}

.menu-vertical-segment.act {
  opacity: 1;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.item-container>a, .right-top-corner>a {
  color: #a29061;
  font-family: "Novecentosanswide-Book";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05px;
  text-decoration: none;
}

.act+a {
  color: #4d565d;
} 

.col-15 {
  padding-right: 0;
  padding-top: 0;
}

@font-face {
  font-family: "Novecentosanswide-Book";
  src: url("../img/Novecentosanswide-Book.otf");
}

.menu-horizontal-segment {
  width: 70px;
  height: 13px;
  background-color: #af9a63;
  display: inline-block;
  margin-left: 8%;
}

.right-top-corner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  padding:0;
}

.pagination-container {
  padding-top: 5%;
 }

.pagination-no {
  height: 17px;
  color: #af9a63;
  font-family: "Novecentosanswide-Book";
  font-size: 24px;
  font-weight: 400;
  line-height: 18.4px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 3%;
  margin-top: 10%;
  opacity: 0.5;
}

.pagination-line {
  width: 100%;
  height: 2px;
  background-color: #af9a63;
  opacity: 0;
}
.active-line, .active-no {
  opacity: 1;
}

.face-front {
  display: block;
  /*margin: auto;*/
}

.main-heading {
  width: 100%;
  color: #455560;
  font-family: "Novecentosanswide-Book";
  font-size: 4.5em;
  font-weight: 300;
}

.section-header-first-row, .section-header-second-row {
  display: flex;
  align-items: top;
  height: 100%;

}

.section-header-first-row {
  padding-top: 5%;
}

.section-header-second-row {
  margin-top: -41%;
}

.main-heading-container {
  display: flex;
  align-items: center;
}

.face-left {
  padding-top: 10%;
}

